 .grello-list-title {
  padding-left: 10px;
  margin: 0px;
}

.grello-list {
  margin: 0px;
  padding: 5px;
  height: 100%;
  overflow-y: scroll;
  /* background: whitesmoke; */
}

.grello-list > * {
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

 .grello-add-card-wrapper{
  display: flex;
  justify-content: center;
  position: relative;
}
